/*
[name]红色折皱[/name]
[type]button[/type]
[template]
<a href="{LINK}" target="_blank" class="photo"><img src="{IMAGE}" /></a>
{INPUT}
<a href="{LINK}" target="_blank" class="name">{LABEL}</a>
<span>已有<b>{COUNT}</b>票</span>
[/template]
*/
@charset "utf-8";
html,body{	margin:0;	padding:0;	color:#666; font-size:12px; font-family:Verdana, Arial, Helvetica, sans-serif;}
div,ul,li,dl,dt,dd,table,tr,td,p,b,a,h4{ margin:0; padding:0;}
img{ border:0; vertical-align:top;}
li{ list-style:none;}
a{ color:#666; text-decoration:none;}
a:hover{ text-decoration:underline;}

h4 {font-size:18px;height:24px;line-height:24px;}

ul{list-style:none; padding:0px; margin:0px;}
table,input,button,select{font-size:12px;}

/*
按钮样式
*/
.radio, .checkbox{ border:none; background:none; vertical-align:middle; }
	
/*
主体内容
*/
#main{margin:0px auto; }
	
	/*页面居左*/
	#main.left {
		margin:0;
	}

	/*
	标题区
	*/
	#header{}
		#header h1{color:#333; margin:0; font-weight:normal; text-align:center;font-family:"微软雅黑"; }
		#header p{line-height:20px; margin:.5em 0; padding:0; color:#666;}	
		#header p.error{ color:#336699; font-weight:bold;}		

	/*
	内容区
	*/
	#content{ overflow:hidden; width:960px;	margin:0 auto; }
			
			/* 投票区 */
			.voteContent{overflow:hidden;background:url(pic/voteBg.gif) repeat-y left top;}
			.voteContent ul{ padding:31px 0 0 35px; display:inline-block}
			.voteContent li{
				width:210px;
				height:300px;
				overflow:hidden;
				margin-right:16px;
				margin-bottom:63px;
				float:left;
				background:#fff; line-height: 25px; font-size: 13px;
				 }
			.voteContent li.nobr{ margin-bottom:33px;}
			.photo{
				border:1px solid #eee;
				display:block;
				margin:5px auto 8px;
				width:195px;
				height:230px;}
			.voteContent li button{float:right; display:block; width:68px; height:47px; background:url(pic/voteBtn_r1_c1.gif) no-repeat 0 0; color:#000; font-size:1px; border:none; cursor:pointer; font-size:1px; -webkit-text-size-adjust:none; }
			.voteContent li button:hover{ background:url(pic/voteBtn_r1_c3.gif) no-repeat 0 0;}
			.name{
				display:block;
				font-size:16px;
				font-weight:bold;
				color:#FF3366;
				text-decoration:none;
				margin-bottom:5px;
				padding-left:5px;}
			.voteBox li span{
				display:block;
				height:20px;
				font-size:14px;
				padding-left:5px;
				color:#7e0c2e;}
			.voteBox li span b{ color:#ff0f4b;}
			
			/* 分页区 */
			.viewer{ position:absolute; padding:5px; background:#fff; border:#333 solid 1px; font-size:12px; }
			
			/* 分页区 */
			.pagenation{ text-align:center; margin:20px 0;}
			.pagenation .pp-page strong{ margin: 0 5px;}
			.pagenation .pp-page a{ font-size:14px; font-weight:bold; color:#fff; background:#000; border:1px solid #fff; padding:7px; margin-right:10px;}
			.pagenation .pp-page a:hover{ background:#ff0f4b; color:#fff; border:1px solid #ff0f4b; text-decoration:none;}
			
		/*
		拉票按钮
		*/
		#favor{ border:#999 solid 1px; background:#fff; padding:2px 5px; line-height:14px; position:absolute; opacity:0.4 ; filter:Alpha(opacity:40); font-size:12px;}
			#favor:hover{ opacity:0.9 ; filter:Alpha(opacity:90);}
			
		/*
		提示信息
		*/
		#post{ border:#4C94EA solid 2px; padding:20px 20px 20px 60px; margin:20px; line-height:30px; font-size:16px; background:#fff url(pic/v.gif) 20px center no-repeat; }
			#post.error{ border:red solid 2px; background-image:url(pic/x.gif);}
		
		/* 对话框 */	
		#dialog{ width: 350px; border:#ccc solid 2px; margin:1em auto; zoom:1; border-radius: 5px; overflow: hidden;  background: #FFF; position: fixed; left: 0; right: 0; top: 30%; margin-left:auto; margin-right:auto; z-index: 99; display: none; }
			#dialog h3{ margin: 0 0 10px 0; padding:10px 15px; border-bottom: #ccc solid 1px; background:#E8F8FF; }
			#dialog p{ margin: 0 10px; }
			#dialog strong{ display: inline-block; width: 60px; text-align: right; color: #369; }
			#dialog img{ margin-bottom:5px; cursor:pointer; vertical-align:middle;}
			#dialog input{ padding:5px; font-size: 14px; border:#ccc solid 1px; border-radius: 3px; vertical-align:middle;}
			#dialog button{ padding: 8px; margin-bottom: 10px; }
			
		/*
		提交按钮
		*/		
		#send{text-align:center; padding:10px;}
			#send p{ margin:10px; }
			#send input{ margin:0 5px;}
			#send button{background:#333;color:#FFF;font-weight:bold; width:100px; height:28px; line-height:20px; cursor:pointer; border:none;}
			
		/* 驱动 */
		#powered{ line-height: 50px; text-align: center; color: #999;}

		/*
		结果报表
		*/		
		#result{background:#CCCCCC; width:96%; margin:20px 20px;}
			#result td{ line-height:22px;padding:3px 8px;}
			
			#result h1{font-size:16px; font-weight:bold; line-height:30px; color:#333; margin:0;}
			#result p{font-size:12px;line-height:25px; color:#666; text-align:right;}
			#result .info{text-align:center; line-height:30px;}
			
			#result .title{ background:#E8F8FF; text-align:left; color:#003366;}
			#result .tag{ background:#fff; font-weight:bold;}
			#result .line{ background:#fff;}
			
			#result .tag-id{ width:40px;}
			#result .tag-option{}
			#result .tag-scale{ width:150px; text-align:left;}
			
			#result .count{ float:right;}
			#result .ratio{ line-height: 10px; display:block; float:left; background:#ccc url(pic/ratio.png) repeat-x; width:100%;}
				#result .ratio span{ display:inline-block; height:10px;}

#footer{
	height:74px;
	margin:0 auto;
	line-height:20px;
	padding-top:30px; font-size:12px;}