/*
[name]粉红[/name]
*/
@charset "utf-8";
html,body{font-size:12px;font-family:Verdana;overflow-x:hidden;overflow:auto; padding:0; margin:0; }
html{background:#DB8DBD url(pic/bg.jpg) repeat-x;}

a{text-decoration:none; text-decoration:underline;}
a:link,a:visited{color:#CC3366;}
a:hover,a:active{color:#990066;}

p{ padding:2px; margin:2px;}
ul{list-style:none; padding:0px; margin:0px;}
textarea{ color:#333333;}
table,input,button,select{font-size:12px;}


/*
按钮样式
*/
.radio, .checkbox{ border:none; background:none; vertical-align:middle; }
	
/*
主体内容
*/
#main{ width:650px; margin:10px auto; padding-top:60px;}
	
	/*页面居左*/
	#main.left {
		margin:0;
	}

	/*
	标题区
	*/
	#header{ margin:20px;}
		#header h1{color:#fff; margin:0; font-weight:normal; text-align:center;font-family:"微软雅黑"; }
		#header p{line-height:20px; margin:.5em 0; padding:0; color:#666;}	
		#header p.error{ color:#336699; font-weight:bold;}		
		#header p span{color:#fff; background:#BB6198; padding:1px;}

	/*
	内容区
	*/
	#content{ margin:20px;}
	
		#content fieldset{ margin:0 0 10px 0; padding:5px 15px; border:#F7E7F1 solid 1px;}
		  #content legend{ font-weight:bold; color:#F7E7F1;}
	
		#content dl{background:#fff; margin:10px auto; padding:10px; border:#DE9CC4 solid 10px; overflow:hidden;}
			#content dl dt{color:#DB8DBD;padding-top:1em; text-indent:1em; font-size:14px; font-weight:bold; padding:25px 15px 0 15px; }
			#content dl dd{ padding:0; margin:0; padding-bottom:10px; overflow:hidden;}
			#content dl p{ padding:.2em .8em; margin:.5em; color:#999; background:#fff; border:#efefef solid 1px;}
			
		    #content dl ul{ width: 100%; overflow: hidden; }
		    #content dl ul li{ text-align: center; overflow: hidden; margin: 10px 0; width: 25%; float: left;}
				
			#form table{color:#333; padding:0; overflow:hidden; width:100%; border:none;}
				#form table td{ text-align:center; padding:5px; line-height:2em; background:#fff; overflow:hidden;}
				#form table td:hover{background:#F7F7F5;cursor:pointer;}
				
				/*
				图片
				*/
				#form table td img{border:none;}
				
				/*
				描述
				*/
				#form table td span{ color:#999; }
				
				/*
				票数
				*/
				#form table td strong{ color:#060; font-size:14px; }
			
		/*
		拉票按钮
		*/
		#favor{ border:#999 solid 1px; background:#fff; padding:2px 5px; line-height:14px; position:absolute; opacity:0.4 ; filter:Alpha(opacity:40);}
			#favor:hover{ opacity:0.9 ; filter:Alpha(opacity:90);}
			
		/*
		错误消息
		*/
		#error{ position:absolute; z-index:999; background:#FF6699; color:#fff; padding:10px; font-size:12px; font-weight:bold;}
			
		/*
		提示信息
		*/
		#post{ border:#4C94EA solid 2px; padding:20px 20px 20px 60px; margin:20px 0; line-height:30px; font-size:16px; background:#fff url(pic/v.gif) 20px center no-repeat;}
			#post.error{ border:red solid 2px; background-image:url(pic/x.gif);}
		
		/* 对话框 */	
		#dialog{ width: 350px; border:#ccc solid 2px; margin:1em auto; zoom:1; border-radius: 5px; overflow: hidden;  background: #FFF; position: fixed; left: 0; right: 0; top: 30%; margin-left:auto; margin-right:auto; z-index: 99; display: none; }
			#dialog h3{ margin: 0 0 10px 0; padding:10px 15px; border-bottom: #ccc solid 1px; background:#E8F8FF; }
			#dialog p{ margin: 0 10px; }
			#dialog strong{ display: inline-block; width: 60px; text-align: right; color: #369; }
			#dialog img{ margin-bottom:5px; cursor:pointer; vertical-align:middle;}
			#dialog input{ padding:5px; font-size: 14px; border:#ccc solid 1px; border-radius: 3px; vertical-align:middle;}
			#dialog button{ padding: 8px; margin-bottom: 10px; }
			
		/*
		提交按钮
		*/		
		#send{text-align:center; border:#DE9CC4 solid 10px; background:#fff; margin:.5em auto; text-align:center; padding:20px;clear:both;}
			#send input{ margin:0 5px;}
			#send button{background:#BB6198;color:#FFF;font-weight:bold;padding:5px; cursor:pointer;border:2px solid #DB8DBD;}
			#send button:hover{border:2px solid #CC3366; color:#fff;}
			
		/* 驱动 */
		#powered{ line-height: 50px; text-align: center; color: #999;}

		/*
		结果报表
		*/		
		#result{background:#CCCCCC; width:100%; margin:10px 0;}
			#result td{ line-height:22px;padding:3px 8px;}
			
			#result h1{font-size:16px; font-weight:bold; line-height:30px; color:#333; margin:0;}
			#result p{font-size:12px;line-height:25px; color:#666; text-align:right;}
			#result .info{text-align:center; line-height:30px;}
			
			#result .title{ background:#fff; text-align:left; color:#DE9CC4;}
			#result .tag{ background:#fff; font-weight:bold;}
			#result .line{ background:#fff;}
			
			#result .tag-id{ width:40px;}
			#result .tag-option{}
			#result .tag-scale{ width:150px; text-align:left;}
			
			#result .count{ float:right;}
			#result .ratio{ line-height: 10px; display:block; float:left; background:#ccc url(pic/ratio.png) repeat-x; width:100%;}
				#result .ratio span{ display:inline-block; height:10px;}
				
@media screen and (max-width: 650px) {
	#main{ width: 96%!important;}
	#content dl ul li{ width: 50%!important;}
}
				
@media screen and (max-width: 500px) {
	#content dl ul li{ width: 100%!important;}
}
