/*
[name]大丁草花[/name]
*/
@charset "utf-8";

html,body{font-size:12px;font-family:Verdana; margin:0;padding:0;}

html{background:#000 url(pic/body.gif) center center repeat-y;}
body{background:url(pic/banner.jpg) center top no-repeat;}

a{text-decoration:none; text-decoration:underline;}
a:link,a:visited{color:#E84852;}
a:hover,a:active{color:#666;}

p{ padding:2px; margin:2px;}
ul{list-style:none; padding:0px; margin:0px;}
textarea{ color:#333333;}
table,input,button,select{font-size:12px;}


/*
按钮样式
*/
.radio, .checkbox{ border:none; background:none; vertical-align:middle; }
	
/*
主体内容
*/
#main{ width:650px;margin:10px auto; padding:20px;}

	/*
	标题区
	*/
	#header{}
		#header h1{color:#595959; margin:0; font-weight:normal; text-align:center;}
		#header p{line-height:20px; margin:.5em 0; padding:0; color:#666;}	
		#header p.error{ color:#E84852; font-weight:bold;}

	/*
	内容区
	*/
	#content{}
	
		#content fieldset{ margin:0 0 10px 0; padding:5px 15px; border:#999 solid 1px;}
		  #content legend{ font-weight:bold;}
	
		#content dl{background:#fff url(pic/maintitle.gif) no-repeat 5px 5px; border:1px solid #DDDADA;margin:1.5em auto;padding:10px 10px 10px 50px;}
			#content dl:hover{border:#F19DB7 solid 1px;}
			#content dl dt{color:#333;line-height:20px;padding:.5em;border-bottom:#DCD9D9 solid 1px;}
			#content dl dt span{ float:right; color:#999;}
			#content dl dd{color:#555;padding:.5em;margin:.5em;}
			
		/*
		错误消息
		*/
		#error{ position:absolute; z-index:999; background:#EE4B5C; color:#fff; padding:10px; font-size:12px; font-weight:bold;}
			
		/*
		提示信息
		*/
		#post{ border:#4C94EA solid 2px; padding:15px; margin:20px 0; line-height:30px; font-size:16px; border-radius:5px;}
			#post .done{ background:#fff url(pic/v.gif) 20px center no-repeat; color:#390; padding-left:70px;}
			#post .fail{ background:url(pic/x.gif) 20px center no-repeat; color:#F00; padding-left:70px;}
			
		/*
		提交按钮
		*/		
		#send{text-align:center; padding:10px;}
			#send input{ margin:0 5px;}
			#send .submit{background:#999;color:#fff;font-weight:bold;padding:5px; cursor:pointer;border:none;width:120px;height:25px;line-height:20px;}
			#send .submit:hover{background:#595959;}
			
		/* 驱动 */
		#powered{ line-height: 50px; text-align: center; color: #999;}
		
		/*
		结果报表
		*/		
		#result{background:#DDDADA; width:100%; margin:10px 0;}
			#result td{ line-height:22px;padding:3px 8px;}
			
			#result h1{font-size:16px; font-weight:bold; line-height:30px; color:#333; margin:0;}
			#result p{font-size:12px;line-height:25px; color:#666; text-align:right;}
			#result .info{text-align:center; line-height:30px;}
			
			#result .title{ background:#DDDADA; text-align:left; color:#333;}
			#result .tag{ background:#fff; font-weight:bold;}
			#result .line{ background:#fff;}
			#result .compart{ background:#FC0; font-weight:bold; color:#fff;}
			
			#result .tag-id{ width:40px;}
			#result .tag-option{}
			#result .tag-scale{ width:150px; text-align:left;}
			
			#result .count{ float:right;}
			#result .ratio{ line-height: 10px; display:block; float:left; background:#ccc url(pic/ratio.png) repeat-x; width:100%;}
				#result .ratio span{ display:inline-block; height:10px;}
